body {
    background: #555;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh;
}

input {
    outline: none;
}

.bic-group {
    width: 25%;
    display: flex;
    flex-flow: nowrap row;
}